<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687684731229-0g489rlij0mta7bdil7fm7aapsva23ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687684731229-0g489rlij0mta7bdil7fm7aapsva23ii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>687684731229-5ku5gipk80vqphbn077mjf0okjjegtfo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0UZWZn6VODC-gC0q4timOBuG1Mk9QLQs</string>
	<key>GCM_SENDER_ID</key>
	<string>687684731229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asmaagad.coachapp</string>
	<key>PROJECT_ID</key>
	<string>coachasmaa-17191</string>
	<key>STORAGE_BUCKET</key>
	<string>coachasmaa-17191.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687684731229:ios:a1a5e37ee9c42cd335e8b4</string>
</dict>
</plist>